[Unit]
Description=Submission Debugger (FastAPI)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=milab
Group=milab
WorkingDirectory=/home/milab/cvpr2026cctv/team01/minseok/competition_debugger/submission_debugger
EnvironmentFile=/home/milab/cvpr2026cctv/team01/minseok/competition_debugger/submission_debugger/.env
ExecStart=/home/milab/cvpr2026cctv/team01/minseok/competition_debugger/submission_debugger/scripts/run_foreground.sh
Restart=always
RestartSec=3
KillSignal=SIGINT
TimeoutStopSec=30
StandardOutput=append:/home/milab/cvpr2026cctv/team01/minseok/competition_debugger/submission_debugger/data/server.log
StandardError=append:/home/milab/cvpr2026cctv/team01/minseok/competition_debugger/submission_debugger/data/server.log

[Install]
WantedBy=multi-user.target
